<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/addMedicine" class="nav-link active" aria-current="page">Add Medicine</a></li> &nbsp;&nbsp;
        <li class="nav-item"><a routerLink="/adminRetrieveMedicine" class="nav-link active">All the Medicine</a></li>
        <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li> -->
        <li class="nav-item"><input style="margin-left: 60%;" type="button" class="btn btn-outline-danger" value="logout" (click)="logout()"/></li>
      </ul>
    </header>
  </div>

  <div class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1 class="text-light">Welcome to Admin Home Page <span class="text-success">{{userName}}</span></h1>
            <p class="lead">Welcome to our voted number one online shop that has taken over since 1788 and even now we still work to please you and your family and friends so that you stay healthy at all the time. <em>This is the <span class="text-danger">Admin Site as an Admin</span></em></p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
            </p>
        </main>
    </div>
  </div>

<!-- <div>
    <h2>Welcome to Admin Home Page {{userName}}</h2>
    <a routerLink="/addMedicine">Add Medicine</a> |
    <a routerLink="/adminRetrieveMedicine">Retrieve All Medicine Details</a>
    <br/>
        <router-outlet></router-outlet>
    <br/>
    <input type="button" value="logout" (click)="logout()"/>
</div> -->